body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start; /* Start content from the top */
    align-items: center; /* Center items horizontally */
    border: 2px solid black;
    padding: 10px;
    width: 270px;
    max-height: 500px;
    overflow-y: auto; /* Add scroll if content exceeds the height */
}

.container h1 {
    text-align: center;
    margin-top: 0;
    text-decoration: underline;
}
.container hr{
    
    width: 250px;
}
.container p {
    text-align: center;
    font-weight: bold;
}

ul {
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
    width: 100%; /* Ensure options span full width */
}

ul li {
    
    margin: 5px 0;
}

.container button {
    margin-top: 20px; /* Add space above the buttons */
    height: 40px;
    width: 120px;
    display: block;
    text-align: center;
}

#result {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .container {
        width: 90%; /* Fit container to screen width */
        padding: 5px;
        max-height: 90vh; /* Use relative height for better scaling */
    }

    .container button {
        width: 80%; /* Buttons expand for better tap area */
        font-size: 16px;
    }

    ul {
        margin-bottom: 10px;
    }
}
