body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 50px;
}
.container{
    position: relative;
    border: 2px solid black;
    padding: 10px;
    width: 270px;
    height: 280px;
}

.container h1{
    text-align: center;
    margin-top: 0;
    text-decoration: underline;
}
.container p{
    text-align: center;
    font-weight: bold;
}

.container button{
    
    position: absolute;
    left: 30%;
    bottom: 10px;
    height: 30px;
    width: 90px;
}

ul{
    list-style: none;
    margin-bottom: 20px;
}

